.cartaBox {
  max-width: 24rem;
  width: 100%;
  position: relative;
  perspective: 1000px;
  display: flex;
}

.carta {
  transform-style: preserve-3d;
}

.cara {
  backface-visibility: hidden;
  margin: auto;
  position: absolute;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.detras {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Modal__container {
  background-color: rgba(255, 255, 255, 0);
}
