.div_power {
  bottom: -0.6rem;
}

.div-power {
  right: -0.75rem;
  top: -0.75rem;
}

.button-tutorial {
  bottom: -1.5rem;
}

.div-name {
  top: -1rem;
}

.img-element {
  left: -1rem;
  top: -0.4rem;
}
