@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --color-gold: #FFD700;
}

@variants hover {
  .border-gold {
    border-color: var(--color-gold);
  }

  .text-gold {
    color: var(--color-gold);
  }
}

@responsive {
  .h-100 {
    height: 32rem;
}
}