.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.8);
}

.text-border-black {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.bg-blue-rataBBoy {
  background-color: rgba(1, 31, 105, 0.99);
}

.center-horizontally-absolute {
  left: 50%;
  transform: translate(-50%, 0);
}

.max-w-85 {
  max-width: 85%;
}

.buttonClassSearch-active {
  @apply scale-110 border-purple-600;
}

.max-w-xxs {
  max-width: 10rem;
}

.min-h-75 {
  min-height: 75px;
}
